<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Delete course?</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron bg-dark">
            <h1 class="text-danger display-2">Are you sure you wish to delete this course?</h1>
            <hr class="my-4 bg-info">
            <h2 class="text-info">Course name: {{courses.course_name}}</h2>
            <hr class="my-4 bg-info">
            <h2 class="text-info">Description: {{courses.description}}</h2>
            <hr class="my-4 bg-info">
            <div class="w-50">
                <a href="/courses/{{courses.id}}/destroy" class="btn btn-danger text-dark btn-lg w-100">Yes, I want to delete this course.</a>
                <hr class="w-100 my-3 bg-danger">
                <a href="/courses/{{courses.id}}/" class="btn btn-info text-dark btn-lg w-100">No, I do not want to delete this course.</a>
            </div>
        </div>
    </div>
</body>
</html>